.fireBgColor {
    background-image: linear-gradient(180deg, rgba(255,255,255,0.804) 1%, var(--fire)), url('../assets/fundo3.jpg');
    background-size: cover;
    background-position: center;
}
.waterBgColor {
    background-image: linear-gradient(180deg, rgba(255,255,255,0.804) 1%, var(--water)), url('../assets/fundo3.jpg');
    background-size: cover;
    background-position: center;
}
.grassBgColor {
    background-image: linear-gradient(180deg, rgba(255,255,255,0.804) 1%, var(--grass)), url('../assets/fundo3.jpg');
    background-size: cover;
    background-position: center;
}
.electricBgColor {
    background-image: linear-gradient(180deg, rgba(255,255,255,0.804) 1%, var(--electric)), url('../assets/fundo3.jpg');
    background-size: cover;
    background-position: center;
}
.psychicBgColor {
    background-image: linear-gradient(180deg, rgba(255,255,255,0.804) 1%, var(--psychic)), url('../assets/fundo3.jpg');
    background-size: cover;
    background-position: center;
}
.iceBgColor {
    background-image: linear-gradient(180deg, rgba(255,255,255,0.804) 1%, var(--ice)), url('../assets/fundo3.jpg');
    background-size: cover;
    background-position: center;
}
.dragonBgColor {
    background-image: linear-gradient(180deg, rgba(255,255,255,0.804) 1%, var(--dragon)), url('../assets/fundo3.jpg');
    background-size: cover;
    background-position: center;
}
.darkBgColor {
    background-image: linear-gradient(180deg, rgba(255,255,255,0.804) 1%, var(--dark)), url('../assets/fundo3.jpg');
    background-size: cover;
    background-position: center;
}
.fairyBgColor {
    background-image: linear-gradient(180deg, rgba(255,255,255,0.804) 1%, var(--fairy)), url('../assets/fundo3.jpg');
    background-size: cover;
    background-position: center;
}
.normalBgColor {
    background-image: linear-gradient(180deg, rgba(255,255,255,0.804) 1%, var(--normal)), url('../assets/fundo3.jpg');
    background-size: cover;
    background-position: center;
}
.fightingBgColor {
    background-image: linear-gradient(180deg, rgba(255,255,255,0.804) 1%, var(--fighting)), url('../assets/fundo3.jpg');
    background-size: cover;
    background-position: center;
}
.flyingBgColor {
    background-image: linear-gradient(180deg, rgba(255,255,255,0.804) 1%, var(--flying)), url('../assets/fundo3.jpg');
    background-size: cover;
    background-position: center;
}
.poisonBgColor {
    background-image: linear-gradient(180deg, rgba(255,255,255,0.804) 1%, var(--poison)), url('../assets/fundo3.jpg');
    background-size: cover;
    background-position: center;
}
.groundBgColor {
    background-image: linear-gradient(180deg, rgba(255,255,255,0.804) 1%, var(--ground)), url('../assets/fundo3.jpg');
    background-size: cover;
    background-position: center;
}
.rockBgColor {
    background-image: linear-gradient(180deg, rgba(255,255,255,0.804) 1%, var(--rock)), url('../assets/fundo3.jpg');
    background-size: cover;
    background-position: center;
}
.bugBgColor {
    background-image: linear-gradient(180deg, rgba(255,255,255,0.804) 1%, var(--bug)), url('../assets/fundo3.jpg');
    background-size: cover;
    background-position: center;
}
.ghostBgColor {
    background-image: linear-gradient(180deg, rgba(255,255,255,0.804) 1%, var(--ghost)), url('../assets/fundo3.jpg');
    background-size: cover;
    background-position: center;
}
.steelBgColor {
    background-image: linear-gradient(180deg, rgba(255,255,255,0.804) 1%, var(--steel)), url('../assets/fundo3.jpg');
    background-size: cover;
    background-position: center;
}
.mainBgColor{
    background-image: linear-gradient(180deg, rgba(255,255,255,0.804) 10%, red), url('../assets/fundo3.jpg');
    background-size: cover;
    background-position: center;
}